Pratica4/CódigoPrática4/Ex1Cliente.c/Service References/ServiceReference1/Servico.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/Servico?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ex1" />
  <xs:element name="obterConta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obterContaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ex1" minOccurs="0" name="obterContaResult" nillable="true" type="q1:Conta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inserirConta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ex1" minOccurs="0" name="c" nillable="true" type="q2:Conta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inserirContaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="alterarConta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ex1" minOccurs="0" name="c" nillable="true" type="q3:Conta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="alterarContaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Transferir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="c1" type="xs:int" />
        <xs:element minOccurs="0" name="c2" type="xs:int" />
        <xs:element minOccurs="0" name="montante" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>