TrabalhoFinal/Implementacao/QueueVendas/QueueVendas/Service References/SedeVendaServicoReference/SedeVendaServico.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ASIVesteSedeAppLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ASIVesteSedeAppLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Venda">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdProduto" type="xs:int" />
      <xs:element minOccurs="0" name="MoradaCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Qtd" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Venda" nillable="true" type="tns:Venda" />
</xs:schema>