TrabalhoFinal/Implementacao/QueueVendas/QueueVendas/Service References/SedeVendaServicoReference/SedeVendaServico1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://asiveste/services/sede/venda" elementFormDefault="qualified" targetNamespace="http://asiveste/services/sede/venda" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55357/SedeVendaServico.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ASIVesteSedeAppLayer" />
  <xs:element name="registaVenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ASIVesteSedeAppLayer" minOccurs="0" name="venda" nillable="true" type="q1:Venda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registaVendaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>