Pratica4/Exercicio4/Ex4Code/Ex4Cliente/Service References/ServiceReference1/Servico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="Servico" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServico_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8001/Servico?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8001/Servico?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServico_TransferirSessionFull_InputMessage">
    <wsdl:part name="parameters" element="tns:TransferirSessionFull" />
  </wsdl:message>
  <wsdl:message name="IServico_TransferirSessionFull_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferirSessionFullResponse" />
  </wsdl:message>
  <wsdl:message name="IServico_Finalizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Finalizar" />
  </wsdl:message>
  <wsdl:message name="IServico_Finalizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinalizarResponse" />
  </wsdl:message>
  <wsdl:message name="IServico_TransferirSessionLess_InputMessage">
    <wsdl:part name="parameters" element="tns:TransferirSessionLess" />
  </wsdl:message>
  <wsdl:message name="IServico_TransferirSessionLess_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferirSessionLessResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IServico">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TransferirSessionFull">
      <wsdl:input wsaw:Action="http://tempuri.org/IServico/TransferirSessionFull" message="tns:IServico_TransferirSessionFull_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServico/TransferirSessionFullResponse" message="tns:IServico_TransferirSessionFull_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Finalizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServico/Finalizar" message="tns:IServico_Finalizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServico/FinalizarResponse" message="tns:IServico_Finalizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TransferirSessionLess">
      <wsdl:input wsaw:Action="http://tempuri.org/IServico/TransferirSessionLess" message="tns:IServico_TransferirSessionLess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServico/TransferirSessionLessResponse" message="tns:IServico_TransferirSessionLess_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServico" type="tns:IServico">
    <wsp:PolicyReference URI="#NetTcpBinding_IServico_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="TransferirSessionFull">
      <soap12:operation soapAction="http://tempuri.org/IServico/TransferirSessionFull" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Finalizar">
      <soap12:operation soapAction="http://tempuri.org/IServico/Finalizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferirSessionLess">
      <soap12:operation soapAction="http://tempuri.org/IServico/TransferirSessionLess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servico">
    <wsdl:port name="NetTcpBinding_IServico" binding="tns:NetTcpBinding_IServico">
      <soap12:address location="net.tcp://localhost:8000/Servico" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8000/Servico</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>