Pratica4/Exercicio1/Ex1Code/Ex1Cliente.a/Service References/ServiceReference1/Servico2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ex1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ex1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Conta">
    <xs:sequence>
      <xs:element name="Numero" type="xs:int" />
      <xs:element name="Saldo" type="xs:float" />
      <xs:element name="Titular" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Conta" nillable="true" type="tns:Conta" />
</xs:schema>