Pratica4/Exercicio2/Ex2Code/Ex2Cliente.a/Service References/ServiceReference1/Servico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Servico" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServico_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8001/Servico?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8001/Servico?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8001/Servico?xsd=xsd2" namespace="MeuNamespace" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServico_obterConta_InputMessage">
    <wsdl:part name="parameters" element="tns:obterConta" />
  </wsdl:message>
  <wsdl:message name="IServico_obterConta_OutputMessage">
    <wsdl:part name="parameters" element="tns:obterContaResponse" />
  </wsdl:message>
  <wsdl:message name="IServico_inserirConta_InputMessage">
    <wsdl:part name="parameters" element="tns:inserirConta" />
  </wsdl:message>
  <wsdl:message name="IServico_inserirConta_OutputMessage">
    <wsdl:part name="parameters" element="tns:inserirContaResponse" />
  </wsdl:message>
  <wsdl:message name="IServico_alterarConta_InputMessage">
    <wsdl:part name="parameters" element="tns:alterarConta" />
  </wsdl:message>
  <wsdl:message name="IServico_alterarConta_OutputMessage">
    <wsdl:part name="parameters" element="tns:alterarContaResponse" />
  </wsdl:message>
  <wsdl:message name="IServico_Transferir_InputMessage">
    <wsdl:part name="parameters" element="tns:Transferir" />
  </wsdl:message>
  <wsdl:message name="IServico_Transferir_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferirResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IServico">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="obterConta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServico/obterConta" message="tns:IServico_obterConta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServico/obterContaResponse" message="tns:IServico_obterConta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="inserirConta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServico/inserirConta" message="tns:IServico_inserirConta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServico/inserirContaResponse" message="tns:IServico_inserirConta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="alterarConta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServico/alterarConta" message="tns:IServico_alterarConta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServico/alterarContaResponse" message="tns:IServico_alterarConta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Transferir">
      <wsdl:input wsaw:Action="http://tempuri.org/IServico/Transferir" message="tns:IServico_Transferir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServico/TransferirResponse" message="tns:IServico_Transferir_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServico" type="tns:IServico">
    <wsp:PolicyReference URI="#NetTcpBinding_IServico_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="obterConta">
      <soap12:operation soapAction="http://tempuri.org/IServico/obterConta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inserirConta">
      <soap12:operation soapAction="http://tempuri.org/IServico/inserirConta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="alterarConta">
      <soap12:operation soapAction="http://tempuri.org/IServico/alterarConta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transferir">
      <soap12:operation soapAction="http://tempuri.org/IServico/Transferir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servico">
    <wsdl:port name="NetTcpBinding_IServico" binding="tns:NetTcpBinding_IServico">
      <soap12:address location="net.tcp://localhost:8000/Servico" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8000/Servico</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>